extends ../layout

block content
  .container.mt-3
    .jumbotron
      //- h3.text-secondary.display-5.text-center 爬虫控制台
      
      h4.text-info.display-5.text-center.mt-3= title
      
      - color = ['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'dark']
      - cardBorder = 'border-' + color[Math.floor(Math.random()*color.length)]
      
      if (codes)
        .card.mt-3(class=cardBorder)
          h4.card-header.text-info(class=cardBorder)
            span 共有 
            span.text-success= codes.length 
            span  趟车次
          .card-body
            each item in codes
              
              // - re = new RegExp(/\W/, 'g')
              // - recode = item.replace(re, '/')
              - href = '/spider/code/' + item
              - randomColor = 'btn-outline-' + color[Math.floor(Math.random()*color.length)]
              
              a.btn.mt-3.mr-3(class=randomColor, href=href, role='button')= item
          .card-footer.text-warning.text-center(class=cardBorder) 数据仅供参考, 请以官网为准
      else
        .alert.alert-danger.mt-3(role='alert')
              h4.alert-heading ERROR!
              p 源数据错误，暂无所需信息
              hr
              p.mb-0 可在下方联系管理员
